@charset "utf-8";
/* CSS Document */

body{
	/*overflow-y:scroll;
	overflow-x:hidden;*/
	width:100%;
	margin:0 auto;
	}
.main-wrapper{           /*整个背景设置*/
	background:url(../image/AD0IjJnuBhACGAAg9JvcywUowPKNhQQwgA84vAU.jpg);   /*背景图*/
	background-attachment:fixed;/*背景固定*/
	background-repeat:no-repeat;/*设置背景不重复*/
	background-size:cover;/*背景以封面的样子显示*/
	background-position:center center;
	overflow:hidden;         /*设置下边水平滚动条取消*/
	}
header{                /*头部设置*/
	background:rgba(0,0,0,0.1);/*让文字看起来更清晰图片看起来更朦胧*/
	height:770px;                    /*header头部的高度*/
	}
nav{                    /*右侧导航设置*/
	/*background:transparent;导航设置为透明*/
	position:fixed;                              /*设置导航固定*/
	border-bottom:1px rgba(255,255,255,.3);          /*设置导航底部的实线*/
	width:100%;
	background:rgba(0,0,0,0.1);
	z-index:1;
	}
nav ul{
	float:right;/*导航居右*/
	}
nav ul li{       /*设置导航栏*/
	/*display:inline-block;  */       /*让导航变成横排列*/
	margin-top:3px;  
	margin-right:8px;   
	}
nav ul li button{
	padding:0;           /*设置按钮的边距*/
	}
.small-title{
	float:left;/*小标题居左*/
	letter-spacing:2px;/*字间距*/
	margin-left:50px;
	font-family:"Comic Sans MS", cursive;
	line-height:60px;     /*设置导航的行高 使文字点击起来更人性化*/
	}
.small-title a{
	text-decoration:none;/*设置小标题的下划线*/
	color:#FFF;
	font-size:16px;
	}
/*.small-title a:hover{
	text-decoration:underline;      设置导航在鼠标经过时 显示下划线
	}*/
#banner{
	width:100%;
	}
#banner .container li{
	list-style:none;/*列表样式取消*/
	}
.container{
	height:465px;
	overflow:hidden;
	}
.container1{
	text-align:right;
	padding:320px;
	color:#FFF;
	}
.container1 .text1{
	position:relative;
	top:-65px;
	left:280px;
	font-size:24px;
	line-height:70px;
	letter-spacing:2px;
	font-family: "Comic Sans MS", cursive;
	}
.container1 .text2{
	position:relative;
	top:-55px;
	left:280px;
	font-size:24px;
	line-height:70px;
	letter-spacing:2px;
	font-family: "Comic Sans MS", cursive;
	}
#banner .more{           /*banner下的箭头设置*/
	margin-top:200px;
	margin-left:700px;
	color:#FFF;
	}
.more .symbol{          /*banner下的箭头设置*/
	width:40px;
	height:40px;
	background-size:contain;      /*背景尺寸设置*/
	border:2px #fff solid;
	font-size:36px;
	text-align:center;
	line-height:40px;
	border-radius:50%;             /*圆角边框*/
	-webkit-border-radius:50%;       /*谷歌*/
	-moz-border-radius:50%;            /*火狐*/
	}
.more .bounce{
	animation:bounce 2s infinite;       /*将动画与div元素绑定   infinite规定动画应该无限次播放*/
	-moz-animation: bounce 2s infinite;
  	-webkit-animation: bounce 2s infinite;
	}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.content .que{
	/*background: url(../image/AD0Ij6_yBRAEGAAgtLatvwUoiN_fuwMwwgI4xwM.png);
	background-repeat:no-repeat;
	background-position:center;*/
	background-color:#FFF;                 /*第二版块背景*/
	height:1480px;
	width:100%;
	}
.que p{
	font-weight:bold;
	}
.que .title{                   /*宠物问答标题设置*/
	position:absolute;         
	left:360px;
	text-align:center;
	/*padding:120px;*/
	line-height:40px;
	top:980px;
	}
.que div{
	width:50%;
	line-height:20px;
	}
.que .que1{        /*问答一*/
	position:relative;
	top:480px;
	left:300px;
	}
.que1 .img1,.img2{       /*问答一的问和答字*/
	position:relative;
	top:22px;
	left:-30px;
	}
.que1 .pic1{         /*问答一的图*/
	position:relative;
	top:-200px;
	left:490px;
	}
.que .que2{         /*问答二*/
	position:relative;
	top:410px;
	left:850px;
	}
.que2 .img3,.img4{      /*问答二的问和答字*/
	position:relative;
	top:22px;
	left:-30px;
	}
.que2 .pic2{         /*问答二的图*/
	position:relative;
	top:-150px;
	left:-580px;
	}
.que .que3{
	position:relative;
	top:450px;
	left:300px;
	}
.que3 .img5,.img6{      /*问答三的问和答字*/
	position:relative;
	top:22px;
	left:-30px;
	}
.que3 .pic3{         /*问答二的图*/
	position:relative;
	top:-150px;
	left:560px;
	}

.content .news{             /*第三块版 新闻背景*/
	background:#fff;
	height:1500px;
	}
.heading-wrapper h2{      /*内容小标题*/
	position:relative;
	top:40px;
	left:50px;
	}
.heading-wrapper h2>img{
	position:relative;
	top:7px;
	left:-6px;
	}
.heading-wrapper>h3{
	position:relative;
	top:21px;
	left:200px;
	}
.heading-wrapper .hr{        /*内容分割线*/
	width:850px;
	height:4px;
	margin:10px 0 50px 450px;
	background-color:#999;
	}
.card-group{
	margin-top:150px;
	position:relative;
	left:30px;
	}
.card-group:after{
	content:"";
	display:block;
	clear:both;
	}
.card{
	float:left;
	width:40%;
	height:515px;
	text-align:center;
	/*border:1px solid #000;*/
	margin:50px;
	}
.bg-1{
	background-image:url(../image/dog-training-joy-fun-159692.jpeg);
	height:400px;
	width:580px;
	margin:28px;
	background-position:center;
	background-size:cover;
	position:relative;
	left:-29px;
	}
.bg1{
	background:#44617b;
	height:400px;
	width:580px;
	opacity: 0;
	transition:opacity 1s;
	}
.bg-1:hover .bg1{
	opacity: 1; 
	}
.bg-2{
	background-image: url(../image/pexels-photo-209069.jpeg);
	height:400px;
	width:580px;
	margin:28px;
	background-position:center;
	background-size:cover;
	position:relative;
	left:-29px;
	}
.bg2{
	background:#ea5506;
	height:400px;
	width:580px;
	opacity: 0;
	transition:opacity 1s;
	}
.bg-2:hover .bg2{
	opacity: 1; 
	}
.bg-3{
	background-image: url(../image/pexels-photo.jpg);
	height:400px;
	width:580px;
	margin:28px;
	background-position:center;
	background-size:cover;
	position:relative;
	left:-29px;
	}
.bg3{
	background:#f3f3f3;
	height:400px;
	width:580px;
	opacity: 0;
	transition:opacity 1s;
	}
.bg-3:hover .bg3{
	opacity: 1; 
	}
.bg-4{
	background-image: url(../image/animal-squirrel-sciurus-bird.jpg);
	height:400px;
	width:580px;
	margin:28px;
	background-position:center;
	background-size:cover;
	position:relative;
	left:-29px;
	}
.bg4{
	background:#0c8918;
	height:400px;
	width:580px;
	opacity: 0;
	transition:opacity 1s;
	}
.bg-4:hover .bg4{
	opacity: 1; 
	}
.card .mon{
	color:#C00;
	font-size:16px;
	font-weight:bold;
	position:relative;
	top:6px;
	left:-160px;
	}
.card .num{
	font-size:24px;
	font-weight:bold;
	position:relative;
	top:34px;
	left:-220px;
	color:#000;
	}
.card .num1{
	font-size:24px;
	font-weight:bold;
	position:relative;
	top:34px;
	left:-200px;
	color:#000;
	}
.card .num2{
	font-size:24px;
	font-weight:bold;
	position:relative;
	top:34px;
	left:-225px;
	color:#000;
	}
.card .num3{
	font-size:24px;
	font-weight:bold;
	position:relative;
	top:34px;
	left:-215px;
	color:#000;
	}
.card p{
	position:relative;
	top:6px;
	left:50px;
	font-weight:bold;
	color:#000;
	}
.more-other a{
	text-decoration:none;
	color:#000;
	position:relative;
	top:60px;
	left:1300px;
	}
.more-other a:hover{
	color:#FFF;
	}

footer{                     /*页脚设置*/
	background:#fff;
	height:670px;
	text-align:center;
	color:#000;
	}
.footer-content ul li{
	text-align:left;
	font-size:22px;
	width:29%;
	padding:15px;
	font-weight:bold;
	line-height:30px;
	position: relative;
	top:30px;
	left:490px;
	}
.footer-dogimg ul li{
	display:inline-block;
	position:relative;
	top:100px;
	}
.footer-img ul{
	position:relative;
	top:180px;}
.footer-img ul li{
	display:inline-block;
	padding-right:8px;
	}
#copy{
	position:relative;
	top:200px;
	}
	
.mask{                    /*mask设置*/
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.2);
	}
#sidebar{
	position:fixed;
	width:250px;
	background-color:#e9e7ef;
	top:0;
	bottom:0;
	right:-280px;
	padding:50px 0;
	transition:right 0.8s;
	z-index:1;
	}
#sidebar ul{
	margin-top:140px;
	}
#sidebar ul li{
	padding:0;
	margin:0;
	line-height:35px;
	}
#sidebar ul a{
	color:#000;
	text-decoration:none;
	padding:20px 30px;
	display:inline-block;
	width:100%;
	}
#sidebar ul a:hover{
	background-color:#75878a;
	}
.top{
	position:fixed;
	bottom:30px;
	right:30px;
	}
	
